.popup{
    border: 5px 0;
}
.card{
    /*size: 4000px;*/
    min-width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label{
    width: max-content;
    color:violet;
    font-size: 13px;
    /*border-bottom: 1px solid red;*/
    margin: 3px 0;
}

.desc {
    font-size:16 px ;

}

.star {
color: orange;

}

.username {
    font-size: 14px;
}

.date{
    font-size: 12px;
}



form{
   width: 250px;
   height: 250px; 
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-size: small;
   initial-value: 1 ;
   max-width: fit-content;
}

input,textarea,select{
     border:none;
     max-width: fit-content;
     border-bottom: 1px solid grey;

}


input::placeholder, textarea::placeholder{
    font-size: 12px;
    color: rgb(180,150,150);
}

.submitButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color:white;
    background-color: royalblue;
    cursor: pointer;
}

.button{
    border: none;
    padding:5px;
    color:azure ;
    cursor: pointer;
}

.login{
    background-color: aquamarine;
    margin-right: 10px;
    border-radius: 10px;
}
.logout{
    background-color: coral;
    border-radius: 10px;
}
.register{
    background-color: violet;
    border-radius: 10px;
}

.buttons,.logout{
    position: absolute;
    top: 20px;
    right: 20px;
}
/* .login{
    width: fit-content;
    position: absolute;
    top: 30px;
    right: 80px;
}
.register{
    width: fit-content;
    position: absolute;
    top: 30px;
    right: 100 px;
} */
