.card{
    /*size: 4000px;*/
    min-width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label{
    width: max-content;
    color:violet;
    font-size: 13px;
    /*border-bottom: 1px solid red;*/
    margin: 3px 0;
}

.desc {
    font-size:16 px ;

}

.star {
color: orange;

}

.username {
    font-size: 14px;
}

.date{
    font-size: 12px;
}


